$mainColor: #232323;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

body {
  color: $mainColor;
}

a:hover {
  text-decoration: none;
}

.jumbotron{
  padding: 8rem 2rem;
  background: #00fff3;
  background: -webkit-linear-gradient(to right, #92FE9D, #00fff3);
  background: linear-gradient(to right, #92FE9D, #00fff3);
  color: #000000;
}

.navbar {
  background: #00fff3;
  background: -webkit-linear-gradient(to right, #92FE9D, #00fff3);
  background: linear-gradient(to right, #92FE9D, #00fff3);
}


.jumbotronText {
  padding: 1.5rem 2rem;
  background: rgba(250,250,250,0.6);
  border-radius: .5rem;
}

.alert {
  position: absolute;
  top: 56px;
  left: 20px;
  right: 20px;
}

.isDisabled {
  cursor: default;

  .card {
    opacity: .7;
  }
}

.card{
  @include transition(.2s);
}

.card:hover {
  opacity: .85;
}

.exerciceForm {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.bg-success {
    background-color: #50d448!important;
}

.bg-primary {
    background-color: #384ef9!important;
}
